<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/header/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="menu-icon"><img src="./imgs/icons8-cardápio-50.png">
                    <a href="../index.html"><img src="./imgs/logo_Super_Mini-Jogos.png"></a>
                </li>
                <li class="search-box">
                    <input id="search-bar" placeholder="Buscar jogos...">
                    <button id="search-button" type="submit">🔍</button>
                </li>
                <li class="loginButton" id="loginMenuItem"><a href="./login.html">Entrar</a></li>
                <li class="loginButton" id="logoutMenuItem" style="display: none;"><a href="#" onclick="logout()">Sair</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>