header {
    background-color: #0055c6;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    }

nav ul li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Espaçamento para compensar a navbar fixa */
#main {
    max-width: 960px;
    margin: 6em auto 2em auto;
    padding: 0 1em;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-box input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.search-box input:focus {
  border-color: #666;
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
body.no-search #search-bar {
    display: none;
}
body.no-search #search-button{
    display: none;
}

.loginButton {
    background-color: #38b6ff;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}
